@import url("./_Variables.css");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100vh;
  max-height: 100dvh;
}
body {
  background-color: var(--white-color);
  display: grid;
  grid-template-columns: auto 1fr;
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.debug {
  border: 1px solid red;
}

.anim {
  transition: all 0.2s ease-in-out;
}
